.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  .landing_section {
    width: 100%;
    .banner {
      width: 100%;
      img {
        object-fit: cover;
        width: 100%;
        min-height: 45vh;
        max-width: 100%;
      }
    }
  }
  .content {
    padding: 2rem 1.5rem 4rem 1.5rem;
    .intro_wrapper {
      color: #333;
      font-family: "Lato", sans-serif;

      .intro_text {
        font-size: 14px;
        font-weight: 400;
        line-height: 27px;
        text-align: center;
      }
      .intro_text p + p {
        margin-top: 1rem;
      }
    }
  }

  section.roadmap {
    display: flex;
    text-align: left;
    background: #fbe2e2;
    padding: 4rem 1rem 4rem 1rem;
    width: 100%;
    position: relative;
    .roadmap_video_desktop {
      display: none;
    }
    .arrow_img {
      position: absolute;
      top: -3.8%;
      left: 44.44%;
    }
    .roadmap_header {
      margin-bottom: 2rem;
      .roadmap_title {
        font-family: "Lora";
        font-size: 38px;
        font-weight: 500;
        line-height: 49px;
        letter-spacing: 0em;
        font-style: normal;
      }
      .roadmap_subtitle {
        color: #000000;
        font-family: "Inter";
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        max-width: 70%;
        font-style: normal;
      }
    }

    .roadmap_content {
      width: 100%;
      position: relative;
      gap: 5px;
      .content_box + .content_box {
        margin-top: 1.8rem;
      }

      .content_box_wrap {
        .box_circle {
          position: relative;

          .circle {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 14px;
            height: 14px;
            background-color: #f0aaaa;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: -6.5px;
            border: 2px solid #fff;
          }
          [num="2"] {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            background-color: #f0aaaa;
            border-radius: 50%;
            position: absolute;
            top: -4px;
            left: -10.5px;
            border: 5px solid #fff;
          }
          .content_box {
            font-family: Inter;
            font-size: 14px;
            color: #333;
            padding-left: 1.5rem;
            width: 100%;
            border-left: 3px solid #f0aaaa;
            // border: 1px solid #000;
            padding-bottom: 22px;

            .content_box_title {
              font-weight: 600;
              margin-bottom: 0.5rem;
              line-height: 17px;
            }
            .content_box_text {
              font-weight: 400;
              line-height: 23px;
            }
          }
          .pd_0 {
            padding-bottom: 0;
          }
        }
      }
    }
  }

  section.mission {
    text-align: center;
    width: 100%;
    .mission_wrapper {
      width: 100%;
      .mission_header {
        width: 100%;
        border-bottom: 1px solid #00000033;
        padding: 3.5rem 1rem;
        .mission_title {
          font-family: Lora;
          font-size: 36px;
          font-weight: 500;
          line-height: 48.5px;
          margin-bottom: 1rem;
          text-align: center;
        }
        .mission_subtitle {
          font-family: Lato;
          font-size: 14px;
          font-weight: 500;
          line-height: 23px;
          color: #333;
          text-align: center;
        }
      }

      .mission_people {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #00000033;
        padding: 4rem 1.5rem;
        width: 100%;
        .people_box + .people_box {
          margin-top: 3rem;
        }
        .mission_owner {
          padding-bottom: 3rem;
          .owner_box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 24px;
            .owner_img {
              height: 70%;
              width: 70%;
              img {
                object-fit: contain;
                width: 100%;
                height: 100%;
              }
            }

            .owner_details div + div {
              margin-top: 0.5rem;
            }
            .owner_details {
              color: #333333;
              font-family: Lato;

              .owner_role {
                font-size: 14px;
                color: #33333399;
                font-weight: 400;
                text-transform: uppercase;
                line-height: 17px;
                font-style: normal;
              }
              .owner_name {
                font-size: 22px;
                font-weight: 700;
                line-height: 26px;
                text-transform: capitalize;
                font-style: normal;
              }

              .owner_desc {
                padding: 0 0.5rem;
                font-weight: 500;
                line-height: 26px;
              }
            }
          }
        }
        .mission_other {
          .people_box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 24px;
            .people_img {
              height: 40%;
              width: 40%;
              img {
                object-fit: contain;
                width: 100%;
                height: 100%;
              }
            }

            .people_details div + div {
              margin-top: 0.5rem;
            }
            .people_details {
              color: #333333;
              font-family: "Lato";

              .people_role {
                font-size: 14px;
                color: #33333399;
                font-weight: 400;
                line-height: 17px;
                font-style: normal;
              }
              .people_name {
                font-size: 22px;
                font-weight: 700;
                line-height: 26px;
                text-transform: capitalize;
                color: #333;
              }

              .people_desc {
                font-weight: 500;
                line-height: 26px;
              }
            }
          }
        }
      }
    }
  }

  section.carousel {
    width: 100%;

    .desktop {
      display: none;
    }

    .carousel_wrapper {
      padding: 4rem 0;
      // display: flex;
      // justify-content: center;
      .carousel_box {
        width: 100%;

        img {
          padding: 0 0.2rem;
          max-width: 100%;
          object-fit: cover;
          min-height: 40vh;
          max-height: 40vh;
        }
      }
    }
  }
}

.question {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 52px 16px 30px 16px;
  .question_wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .question_head {
      text-transform: uppercase;
      font-family: "Lora";
      font-style: normal;
      font-weight: 500;
      font-size: 38px;
      line-height: 49px;
      color: #000;
      text-align: left;
    }
    .question_text {
      font-family: "Lato";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 23px;
      color: #333;
      padding-bottom: 7px;
      text-align: left;
    }
    // FAQ
    .question_box {
      display: flex;
      flex-direction: column;
      .asked_question {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 22px 0;
        &:not(:last-child) {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        p {
          text-align: left;
          font-family: "Lato";
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          color: #333333;
        }

        .question_one {
          max-width: 100px;
        }
        .question_two {
          max-width: 210px;
        }
        .question_three {
          max-width: 230px;
        }
        .question_four {
          max-width: 140px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .home {
    .landing_section {
      position: relative;
      .banner {
        img {
          min-height: unset;
        }
      }
    }

    .content,
    section.roadmap {
      padding: 5% 15%;
    }

    .content {
      .intro_wrapper {
        .intro_text {
          font-size: 1rem;
        }
      }
    }

    section.roadmap {
      position: relative;
      padding-bottom: 0;
      .roadmap_video_desktop {
        display: inline-block;
        position: absolute;
        top: 13.2%;
        left: 52%;
        width: 46%;
        height: 90%;
        video {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .arrow_img {
        top: -2%;
        left: 48.14%;
      }
      .roadmap_wrapper {
        width: 65%;
        .roadmap_header {
          padding-left: 46px;
          margin-bottom: 52px;

          .roadmap_title {
            font-size: 44px;
            line-height: 56px;
            padding-bottom: 8px;
          }
          .roadmap_subtitle {
            font-size: 14px;
            line-height: 17px;
            max-width: none;
          }
        }

        .roadmap_content {
          border-left: 3px solid #f0aaaa;
          padding-bottom: 5rem;
          gap: 26px;
          .content_box_wrap {
            .box_circle {
              .circle {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 14px;
                height: 14px;
                background-color: #f0aaaa;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: -8.8px;
                border: 2px solid #fff;
              }
              [num="2"] {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                height: 24px;
                background-color: #f0aaaa;
                border-radius: 50%;
                position: absolute;
                top: -4px;
                left: -14.8px;
                border: 5px solid #fff;
              }
              .content_box {
                padding-left: 2rem;
                max-width: 480px;
                border: none;
              }

              .content_box + .content_box {
                margin-top: 0;
              }
            }
          }
        }
      }
    }

    section.mission {
      .mission_wrapper {
        .mission_header {
          padding: 5% 15%;
        }
        .mission_people {
          padding: 0 1.5rem 4rem 1.5rem;
          .mission_owner {
            padding: 5% 15%;
            .owner_box {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 10px;
              .owner_img {
                height: 50%;
                width: 50%;
                img {
                  width: 75%;
                  height: 75%;
                  object-fit: contain;
                }
              }
              .owner_details {
                max-width: 550px;
                .owner_role {
                  text-align: left;
                }
                .owner_name {
                  text-align: left;
                }
                .owner_desc {
                  text-align: left;
                  padding-left: 0;
                }
              }
            }
          }
          .mission_other {
            padding: 5% 15%;
            display: flex;
            gap: 80px;

            .people_box {
              flex-direction: row;
              gap: 20px;
              align-items: flex-start;
              margin: 0;
              .people_img {
                width: 75%;
                height: 75%;
                border-radius: 50%;
                overflow: hidden;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
              .people_details {
                max-width: 280px;
                text-align: left;
              }
            }
          }
        }
      }
    }

    section.carousel {
      .mobile {
        display: none;
      }
      .desktop {
        display: unset;
      }
    }
  }
}

// FAQ:
.question {
  .question_wrap {
    .question_box {
      .asked_question {
        .question_one {
          max-width: none;
        }
        .question_two {
          max-width: none;
        }
        .question_three {
          max-width: 440px;
        }
        .question_four {
          max-width: none;
        }
      }
    }
  }
}
