.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  .landing_section {
    width: 100%;
    .banner {
      width: 100%;
      img {
        object-fit: cover;
        width: 100%;
        min-height: 45vh;
        max-width: 100%;
      }
    }
  }
  .content {
    padding: 1.5rem;
    .intro_wrapper {
      color: #333333;
      font-family: Lato;
      padding: 0.5rem;

      .intro_text {
        font-size: 14px;
        font-weight: 400;
        line-height: 27px;
      }
      .intro_text p + p {
        margin-top: 1rem;
      }
    }
  }

  section.roadmap {
    display: flex;
    text-align: left;
    background: #fbe2e2;
    padding: 4rem 1.5rem;
    width: 100%;
    .roadmap_header {
      margin-bottom: 1rem;
      .roadmap_title {
        font-family: Lora;
        font-size: 38px;
        font-weight: 500;
        line-height: 49px;
        letter-spacing: 0em;
      }
      .roadmap_subtitle {
        color: #000000;
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        max-width: 60%;
      }
    }
    .roadmap_content {
      width: 100%;
      .content_box + .content_box {
        margin-top: 1.5rem;
      }
      .content_box {
        font-family: Inter;
        font-size: 14px;
        line-height: 17px;
        color: #333333;
        padding-left: 1rem;
        width: 100%;

        .content_box_title {
          font-weight: 600;
          margin-bottom: 0.5rem;
        }
        .content_box_text {
          font-weight: 400;
        }
      }
    }
  }

  section.mission {
    text-align: center;
    width: 100%;
    .mission_wrapper {
      width: 100%;
      .mission_header {
        width: 100%;
        border-bottom: 1px solid #00000033;
        padding: 4rem 1.5rem;
        .mission_title {
          font-family: Lora;
          font-size: 38px;
          font-weight: 500;
          line-height: 49px;
          margin-bottom: 1rem;
        }
        .mission_subtitle {
          font-family: Lato;
          font-size: 14px;
          font-weight: 500;
          line-height: 23px;
          color: #333333;
        }
      }

      .mission_people {
        border-bottom: 1px solid #00000033;
        padding: 4rem 1.5rem;
        width: 100%;
        .people_box + .people_box {
          margin-top: 3rem;
        }
        .people_box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .people_img {
            height: 50%;
            width: 50%;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 1.5rem;
            img {
              object-fit: cover;
              width: 100%;
            }
          }

          .people_details div + div {
            margin-top: 0.5rem;
          }
          .people_details {
            color: #333333;
            font-family: Lato;

            .people_role {
              font-size: 14px;
              color: #33333399;
              font-weight: 400;
            }
            .people_name {
              font-size: 22px;
              font-weight: 700;
            }

            .people_desc {
              padding: 0 0.5rem;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .home {
    .landing_section {
      position: relative;
      .banner {
        img {
          min-height: unset;
        }
      }
    }

    .content,
    section.roadmap {
      padding: 5% 15%;
    }
    .content {
      .intro_wrapper {
        .intro_text {
          font-size: 1rem;
        }
      }
    }

    section.roadmap {
      .roadmap_wrapper {
        width: 60%;

        .roadmap_content {
          .content_box {
            padding-left: 0;
          }
        }
      }
    }

    section.mission {
      .mission_wrapper {
        .mission_header {
          padding: 5% 15%;
        }
        .mission_people {
          padding: 5% 15%;
          .people_box {
            .people_img {
              img {
                width: 10rem;
                height: 10rem;
              }
            }
          }
        }
      }
    }
  }
}
