.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
.home .landing_section {
  width: 100%;
}
.home .landing_section .banner {
  width: 100%;
}
.home .landing_section .banner img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  min-height: 45vh;
  max-width: 100%;
}
.home .content {
  padding: 2rem 1.5rem 4rem 1.5rem;
}
.home .content .intro_wrapper {
  color: #333;
  font-family: "Lato", sans-serif;
}
.home .content .intro_wrapper .intro_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}
.home .content .intro_wrapper .intro_text p + p {
  margin-top: 1rem;
}
.home section.roadmap {
  display: flex;
  text-align: left;
  background: #fbe2e2;
  padding: 4rem 1rem 4rem 1rem;
  width: 100%;
  position: relative;
}
.home section.roadmap .arrow_img {
  position: absolute;
  top: -3.8%;
  left: 44.44%;
}
.home section.roadmap .roadmap_header {
  margin-bottom: 2rem;
}
.home section.roadmap .roadmap_header .roadmap_title {
  font-family: "Lora";
  font-size: 38px;
  font-weight: 500;
  line-height: 49px;
  letter-spacing: 0em;
  font-style: normal;
}
.home section.roadmap .roadmap_header .roadmap_subtitle {
  color: #000000;
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  max-width: 70%;
  font-style: normal;
}
.home section.roadmap .roadmap_content {
  width: 100%;
  position: relative;
  gap: 5px;
}
.home section.roadmap .roadmap_content .content_box + .content_box {
  margin-top: 1.8rem;
}
.home section.roadmap .roadmap_content .content_box_wrap .box_circle {
  position: relative;
}
.home section.roadmap .roadmap_content .content_box_wrap .box_circle .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  background-color: #f0aaaa;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -6.5px;
  border: 2px solid #fff;
}
.home section.roadmap .roadmap_content .content_box_wrap .box_circle [num="2"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #f0aaaa;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  left: -10.5px;
  border: 5px solid #fff;
}
.home section.roadmap .roadmap_content .content_box_wrap .box_circle .content_box {
  font-family: Inter;
  font-size: 14px;
  color: #333;
  padding-left: 1.5rem;
  width: 100%;
  border-left: 3px solid #f0aaaa;
  padding-bottom: 22px;
}
.home section.roadmap .roadmap_content .content_box_wrap .box_circle .content_box .content_box_title {
  font-weight: 600;
  margin-bottom: 0.5rem;
  line-height: 17px;
}
.home section.roadmap .roadmap_content .content_box_wrap .box_circle .content_box .content_box_text {
  font-weight: 400;
  line-height: 23px;
}
.home section.roadmap .roadmap_content .content_box_wrap .box_circle .pd_0 {
  padding-bottom: 0;
}
.home section.mission {
  text-align: center;
  width: 100%;
}
.home section.mission .mission_wrapper {
  width: 100%;
}
.home section.mission .mission_wrapper .mission_header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4rem 1.5rem;
}
.home section.mission .mission_wrapper .mission_header .mission_title {
  font-family: Lora;
  font-size: 38px;
  font-weight: 500;
  line-height: 49px;
  margin-bottom: 1rem;
}
.home section.mission .mission_wrapper .mission_header .mission_subtitle {
  font-family: Lato;
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
  color: #333333;
}
.home section.mission .mission_wrapper .mission_people {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4rem 1.5rem;
  width: 100%;
}
.home section.mission .mission_wrapper .mission_people .people_box + .people_box {
  margin-top: 3rem;
}
.home section.mission .mission_wrapper .mission_people .mission_owner {
  padding-bottom: 2rem;
}
.home section.mission .mission_wrapper .mission_people .mission_owner .owner_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home section.mission .mission_wrapper .mission_people .mission_owner .owner_box .owner_img {
  height: 50%;
  width: 50%;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.5rem;
}
.home section.mission .mission_wrapper .mission_people .mission_owner .owner_box .owner_img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.home section.mission .mission_wrapper .mission_people .mission_owner .owner_box .owner_details div + div {
  margin-top: 0.5rem;
}
.home section.mission .mission_wrapper .mission_people .mission_owner .owner_box .owner_details {
  color: #333333;
  font-family: Lato;
}
.home section.mission .mission_wrapper .mission_people .mission_owner .owner_box .owner_details .owner_role {
  font-size: 14px;
  color: rgba(51, 51, 51, 0.6);
  font-weight: 400;
  text-transform: uppercase;
  line-height: 17px;
  font-style: normal;
}
.home section.mission .mission_wrapper .mission_people .mission_owner .owner_box .owner_details .owner_name {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  text-transform: capitalize;
  font-style: normal;
}
.home section.mission .mission_wrapper .mission_people .mission_owner .owner_box .owner_details .owner_desc {
  padding: 0 0.5rem;
  font-weight: 500;
  line-height: 26px;
}
.home section.mission .mission_wrapper .mission_people .mission_other .people_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home section.mission .mission_wrapper .mission_people .mission_other .people_box .people_img {
  height: 50%;
  width: 50%;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.5rem;
}
.home section.mission .mission_wrapper .mission_people .mission_other .people_box .people_img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.home section.mission .mission_wrapper .mission_people .mission_other .people_box .people_details div + div {
  margin-top: 0.5rem;
}
.home section.mission .mission_wrapper .mission_people .mission_other .people_box .people_details {
  color: #333333;
  font-family: "Lato";
}
.home section.mission .mission_wrapper .mission_people .mission_other .people_box .people_details .people_role {
  font-size: 14px;
  color: rgba(51, 51, 51, 0.6);
  font-weight: 400;
  line-height: 17px;
  font-style: normal;
}
.home section.mission .mission_wrapper .mission_people .mission_other .people_box .people_details .people_name {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  text-transform: capitalize;
  color: #333;
}
.home section.mission .mission_wrapper .mission_people .mission_other .people_box .people_details .people_desc {
  font-weight: 500;
  line-height: 26px;
}
.home section.carousel {
  width: 100%;
}
.home section.carousel .desktop {
  display: none;
}
.home section.carousel .carousel_wrapper {
  padding: 4rem 0;
}
.home section.carousel .carousel_wrapper .carousel_box {
  width: 100%;
}
.home section.carousel .carousel_wrapper .carousel_box img {
  padding: 0 0.2rem;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 40vh;
  max-height: 40vh;
}

.question {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 52px 16px 30px 16px;
}
.question .question_wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.question .question_wrap .question_head {
  text-transform: uppercase;
  font-family: "Lora";
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 49px;
  color: #000;
  text-align: left;
}
.question .question_wrap .question_text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #333;
  padding-bottom: 7px;
  text-align: left;
}
.question .question_wrap .question_box {
  display: flex;
  flex-direction: column;
}
.question .question_wrap .question_box .asked_question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 22px 0;
}
.question .question_wrap .question_box .asked_question:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.question .question_wrap .question_box .asked_question p {
  text-align: left;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}
.question .question_wrap .question_box .asked_question .question_one {
  max-width: 100px;
}
.question .question_wrap .question_box .asked_question .question_two {
  max-width: 210px;
}
.question .question_wrap .question_box .asked_question .question_three {
  max-width: 230px;
}
.question .question_wrap .question_box .asked_question .question_four {
  max-width: 140px;
}

@media screen and (min-width: 768px) {
  .home .landing_section {
    position: relative;
  }
  .home .landing_section .banner img {
    min-height: unset;
  }
  .home .content,
.home section.roadmap {
    padding: 5% 15%;
  }
  .home .content .intro_wrapper .intro_text {
    font-size: 1rem;
  }
  .home section.roadmap {
    padding-bottom: 0;
  }
  .home section.roadmap .arrow_img {
    top: -2%;
    left: 48.14%;
  }
  .home section.roadmap .roadmap_wrapper {
    width: 65%;
  }
  .home section.roadmap .roadmap_wrapper .roadmap_header {
    padding-left: 46px;
    margin-bottom: 52px;
  }
  .home section.roadmap .roadmap_wrapper .roadmap_header .roadmap_title {
    font-size: 44px;
    line-height: 56px;
    padding-bottom: 8px;
  }
  .home section.roadmap .roadmap_wrapper .roadmap_header .roadmap_subtitle {
    font-size: 14px;
    line-height: 17px;
    max-width: none;
  }
  .home section.roadmap .roadmap_wrapper .roadmap_content {
    border-left: 3px solid #f0aaaa;
    padding-bottom: 5rem;
    gap: 26px;
  }
  .home section.roadmap .roadmap_wrapper .roadmap_content .content_box_wrap .box_circle .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    background-color: #f0aaaa;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -8.8px;
    border: 2px solid #fff;
  }
  .home section.roadmap .roadmap_wrapper .roadmap_content .content_box_wrap .box_circle [num="2"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: #f0aaaa;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    left: -14.8px;
    border: 5px solid #fff;
  }
  .home section.roadmap .roadmap_wrapper .roadmap_content .content_box_wrap .box_circle .content_box {
    padding-left: 2rem;
    max-width: 480px;
    border: none;
  }
  .home section.roadmap .roadmap_wrapper .roadmap_content .content_box_wrap .box_circle .content_box + .content_box {
    margin-top: 0;
  }
  .home section.mission .mission_wrapper .mission_header {
    padding: 5% 15%;
  }
  .home section.mission .mission_wrapper .mission_people .mission_owner {
    padding: 5% 15%;
  }
  .home section.mission .mission_wrapper .mission_people .mission_owner .owner_box {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 40px;
  }
  .home section.mission .mission_wrapper .mission_people .mission_owner .owner_box .owner_img {
    margin-bottom: 0;
  }
  .home section.mission .mission_wrapper .mission_people .mission_owner .owner_box .owner_img img {
    width: 65%;
    height: 65%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .home section.mission .mission_wrapper .mission_people .mission_owner .owner_box .owner_details {
    max-width: 550px;
  }
  .home section.mission .mission_wrapper .mission_people .mission_owner .owner_box .owner_details .owner_role {
    text-align: left;
  }
  .home section.mission .mission_wrapper .mission_people .mission_owner .owner_box .owner_details .owner_name {
    text-align: left;
  }
  .home section.mission .mission_wrapper .mission_people .mission_owner .owner_box .owner_details .owner_desc {
    text-align: left;
    padding-left: 0;
  }
  .home section.mission .mission_wrapper .mission_people .mission_other {
    padding: 5% 15%;
    display: flex;
    gap: 80px;
  }
  .home section.mission .mission_wrapper .mission_people .mission_other .people_box {
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    margin: 0;
  }
  .home section.mission .mission_wrapper .mission_people .mission_other .people_box .people_img {
    margin: 0;
    width: 75%;
    height: 75%;
  }
  .home section.mission .mission_wrapper .mission_people .mission_other .people_box .people_img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .home section.mission .mission_wrapper .mission_people .mission_other .people_box .people_details {
    max-width: 280px;
    text-align: left;
  }
  .home section.carousel .mobile {
    display: none;
  }
  .home section.carousel .desktop {
    display: unset;
  }
}
.question .question_wrap .question_box .asked_question .question_one {
  max-width: none;
}
.question .question_wrap .question_box .asked_question .question_two {
  max-width: none;
}
.question .question_wrap .question_box .asked_question .question_three {
  max-width: 440px;
}
.question .question_wrap .question_box .asked_question .question_four {
  max-width: none;
}/*# sourceMappingURL=Home.module.css.map */