.mint_page {
  padding: 3.5rem 1rem;
  background-color: #fbe2e2;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.title_wrapper {
  padding-bottom: 1rem;
}

.mint_page_title {
  font-size: 38px;
  font-weight: 700;
  font-family: "Lora";
  letter-spacing: 6%;
  text-align: center;
  line-height: 48.64px;
}

.subtitle_wrapper {
  padding-bottom: 3.5rem;
}

.mint_page_subtitle {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.08em;
  line-height: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-style: normal;
}

.wallet_modal {
  background: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: absolute;
  top: 31.5%;
  left: 0.5%;
  padding: 0;
}

.wallet_modal .wallet_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wallet_modal .wallet_card .wallet_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding: 1rem;
}

.wallet_modal .wallet_card .wallet_body::after {
  content: "";
  border: 1px solid #333333;
  width: 100%;
}

.wallet_modal .wallet_card .wallet_body .connect_text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.wallet_modal .wallet_card .wallet_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5px;
}

.wallet_modal .wallet_card .wallet_logo .wallet_text span {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: capitalize;
}

.wallet_modal .wallet_card {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.wallet_modal .wallet_card .label {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.wallet_modal_active {
  background: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: static;
}

.wallet_modal_active .wallet_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1rem;
}

.wallet_modal_active .wallet_logo .wallet_text span {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: capitalize;
}

.wallet_modal_active .wallet_card {
  background-color: #fbe2e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.wallet_modal_active .wallet_card .label {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.wallet_modal {
  background: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: absolute;
  top: 36%;
  left: -18.75px;
}

.wallet_modal .wallet_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1rem;
}

.wallet_modal .wallet_logo .wallet_text span {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: capitalize;
}

.wallet_modal .wallet_card {
  background-color: #fbe2e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.wallet_modal .wallet_card .label {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 22px;
}

/* Wallet Card */
.wallet_card_wrapper {
  /* padding: 4rem 2rem; */
  width: 100%;
  padding-bottom: 5.5rem;
}

.wallet_card {
  border: 0.5rem solid #a385c5;
  padding: 3rem 1rem;
  width: 100%;
  background-color: #fff;
  min-width: 20rem;
  position: relative;
}

.wallet_card .mint_img {
  position: absolute;
  top: -15%;
  left: 38%;
}

.label_value_holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem;
}

.horizontal_rule_wrapper {
  color: #000000b2;
  padding: 0.5rem;
}

.label_value_holder .label {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
  font-family: "Lato";
  text-align: left;
}

.label_value_holder .value_divisor {
  color: #000;
}

.label_value_holder .value {
  color: #000000b2;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  font-family: "Lato";
}

.connect_wallet_btn_wrapper {
  padding: 0.5rem;
  width: 100%;
}

.connect_wallet_btn_wrapper button {
  background-color: #000;
  color: #fff;
  width: 100%;
  border-radius: 2rem;
  padding: 1rem 0;
  font-family: "Lora", serif;
  font-size: 1rem;
  /* margin-top: 1.5rem; */
}

.social_media_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social_media_wrapper img {
  padding: 0 0.5rem;
}

@media screen and (min-width: 768px) {
  .mint_page {
    padding: 50px 294px 50px 294px;
  }
  /* .title_wrapper {
    padding-bottom: 0.5rem;
  } */
  .mint_page_title {
    font-size: 68px;
    font-weight: 700;
    font-family: "Lora";
    letter-spacing: 6%;
    text-align: center;
    line-height: 70px;
    font-style: normal;
    color: #000;
  }
  .subtitle_wrapper {
    padding-bottom: 3.5rem;
  }
  .mint_page_subtitle {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.06em;
    line-height: 26px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-style: normal;
  }
  .wallet_card_wrapper {
    width: 100%;
    padding-bottom: 1rem;
    padding-left: 96px;
    padding-right: 96px;
  }
  .wallet_card {
    border: 0.5rem solid #a385c5;
    padding: 3rem 1rem;
    width: 100%;
    background-color: #fff;
  }
  .wallet_card .mint_img {
    top: -15%;
    left: 42%;
  }
  .social_media_wrapper {
    padding-top: 1rem;
  }
  .wallet_modal {
    background: none;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: absolute;
    top: 32%;
    left: 37%;
  }
  .wallet_modal .wallet_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wallet_modal .wallet_logo .wallet_text span {
    font-family: "Lora";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-transform: capitalize;
  }
  .wallet_modal .wallet_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem;
  }
  .wallet_modal .wallet_card .wallet_body {
    padding: 0.5rem;
  }
  .wallet_modal .wallet_card .label {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 22px;
  }
}
/*# sourceMappingURL=Mint.module.css.map */