.mint_page {
  padding: 3.5rem 1rem;
  background-color: #fbe2e2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.title_wrapper {
  padding-bottom: 1rem;
}
.mint_page_title {
  font-size: 38px;
  font-weight: 700;
  font-family: "Lora";
  letter-spacing: 6%;
  text-align: center;
  line-height: 48.64px;
}
.subtitle_wrapper {
  padding-bottom: 3.5rem;
}
.mint_page_subtitle {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.08em;
  line-height: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-style: normal;
}

.wallet_modal {
  background: none;
  border: none;
  box-shadow: none;
  position: absolute;
  top: 31.5%;
  left: 0.5%;
  padding: 0;
  transition: all 0.2s;
  transform: scale(1.05);
  .wallet_card {
    display: flex;
    flex-direction: column;
    .wallet_body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
      padding: 1rem;
      &::after {
        content: "";
        border: 1px solid rgba(#333, 10%);
        width: 100%;
      }
      .connect_text {
        font-family: "Lato";
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: #000000;
      }
    }
    .wallet_logo {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 5px;
      .wallet_text {
        span {
          font-family: "Lora";
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          color: #000000;
          text-transform: capitalize;
        }
      }
    }
  }

  .wallet_card {
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 1rem;
    .label {
      text-align: center;
      font-family: "Lato", sans-serif;
      font-weight: 700;
      font-size: 22px;
    }
  }
}
/* Wallet Card */

.wallet_card_wrapper {
  /* padding: 4rem 2rem; */
  width: 100%;
  padding-bottom: 5.5rem;
}
.wallet_card {
  border: 0.5rem solid #a385c5;
  padding: 3rem 1rem;
  width: 100%;
  background-color: #fff;
  min-width: 20rem;
  position: relative;
  .mint_img {
    position: absolute;
    top: -15%;
    left: 38%;
  }
}

.label_value_holder {
  display: flex;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem;
}

.horizontal_rule_wrapper {
  color: #000000b2;
  padding: 0.5rem;
}

.label_value_holder .label {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
  font-family: "Lato";
  text-align: left;
}
.label_value_holder .value_divisor {
  color: #000;
}

.label_value_holder .value {
  color: #000000b2;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  font-family: "Lato";
}

.connect_wallet_btn_wrapper {
  padding: 0.5rem;
  width: 100%;
}

.connect_wallet_btn_wrapper button {
  background-color: #000;
  color: #fff;
  width: 100%;
  border-radius: 2rem;
  padding: 1rem 0;
  font-family: "Lora", serif;
  font-size: 1rem;
  /* margin-top: 1.5rem; */
}

.social_media_wrapper {
  display: flex;
}
.social_media_wrapper img {
  padding: 0 0.5rem;
}

@media screen and (min-width: 768px) {
  .mint_page {
    padding: 50px 294px 50px 294px;
  }

  /* .title_wrapper {
    padding-bottom: 0.5rem;
  } */
  .mint_page_title {
    font-size: 68px;
    font-weight: 700;
    font-family: "Lora";
    letter-spacing: 6%;
    text-align: center;
    line-height: 70px;
    font-style: normal;
    color: #000;
  }
  .subtitle_wrapper {
    padding-bottom: 3.5rem;
  }
  .mint_page_subtitle {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.06em;
    line-height: 26px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-style: normal;
  }
  .wallet_card_wrapper {
    width: 100%;
    padding-bottom: 1rem;
    padding-left: 96px;
    padding-right: 96px;
  }
  .wallet_card {
    border: 0.5rem solid #a385c5;
    padding: 3rem 1rem;
    width: 100%;
    background-color: #fff;
    .mint_img {
      top: -15%;
      left: 42%;
    }
  }
  .social_media_wrapper {
    padding-top: 1rem;
  }
  .wallet_modal {
    background: none;
    border: none;
    box-shadow: none;
    position: absolute;
    top: 32%;
    left: 37%;
    .wallet_logo {
      display: flex;
      align-items: center;
      justify-content: center;
      .wallet_text {
        span {
          font-family: "Lora";
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          color: #000000;
          text-transform: capitalize;
        }
      }
    }
    .wallet_card {
      display: flex;
      justify-content: center;
      padding: 1rem;
      .wallet_body {
        padding: 0.5rem;
      }
      .label {
        text-align: center;
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-size: 22px;
      }
    }
  }
}
